<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143185625-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-143185625-2');
    </script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1c815cfb24.js" crossorigin="anonymous"></script>
    <script src="//instant.page/3.0.0" type="module" defer
        integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
    <title>CRIA - Plataforma Criativa da Juventude do Distrito Federal</title>
    <link rel="icon" href="images/favicon.ico" />
</head>

<body>
   <!--<div class="loading">
        <p><a href="https://giphy.com/gifs/8xgqLTTgWqHWU">via GIPHY</a></p>
        <p class="">Eita, geovana! Estamos melhorando versão mobile para uma melhor experiência. Explore nossa
            plataforma usando um compiuter.</p>
    </div> -->
    <nav class="nav-bar">
        <p></p>
        <div class="nav-bar-central">
            <a href="https://youtu.be/hiquQtrZq4I">websérie</a>
            <a href=""><img class="nav-logo" src="images/logo-beta.png" alt=""></a>
            <a href="">sobre</a>
        </div>
        <button><a href="faca-parte.html" target="_blank">Faça parte</a></button>
    </nav>
    <div id="app" class="content-container">
        <div class="search-bar">
            <label>
                <input type="text" v-model='searchString' v-model='search2String'
                    placeholder="Busque criativxs de todo o Distrito Federal">
            </label>
            <div class="seach-select">
                <select v-model="select">
                    <option value="" >Escolha uma cidade </option>
                    <option v-for="(cidade, index) in cidades" :key="index" :value="cidade">{{cidade}}</option>
                </select>
                <select v-model="select2">
                    <option value="">Escolha uma área criativa </option>
                    <option v-for="(area, index) in areas" :key="index" :value="area">{{area}}</option>
                </select>
            </div>
        </div>

        <div class="content-cards grid">
            <div v-for='item in filteredList' :key='item.id' class="content-card">
                <img :src="item.image" alt="item.name" v-show="item.image.length"></img>
                <img src="images/template-image.png" v-show="!item.image.length"></img>
                <div class="card-info">
                    <h3 class="card-title"> {{item.name}} </h3>
                    <div class="card-info-job">
                        <p class="card-text"> <i class="fas fa-briefcase"></i> {{item.job}} </p>
                        <p class="card-text"> <i class="fas fa-map-pin"></i> {{item.city}} </p>
                    </div>
                    <p class="card-text card-bio" id="clamp-text"> {{item.description}}
                        <hr>
                        <div class="card-contato">
                            <div class="contato-icon">
                                <a :href="item.portfolio" class="card-text" v-show="item.portfolio.length"> <i
                                        class="fas fa-link"></i></i> </a>
                                <a :href=" 'https://www.facebook.com/' + item.facebook" class="card-text"
                                    v-show="item.facebook.length"> <i class="fab fa-facebook"></i></a>
                                <a :href=" 'https://www.twitter.com/' + item.twitter" class="card-text"
                                    v-show="item.twitter.length"> <i class="fab fa-twitter"></i></i></a>
                                <a :href=" 'https://www.instagram.com/' + item.instagram" class="card-text"
                                    v-show="item.instagram.length"> <i class="fab fa-instagram"></i></a>
                            </div>
                            <button><a :href=" 'mailto:' + item.email"><i class="fas fa-envelope"></i></a></button>
                        </div>

                </div>
            </div>
            <p class="texto-erro" v-show="!filteredList.length">Poxa :( Nenhum resultado encontrado! <br> Divulgue a
                platarforma para seus amigos e vamos encontrar mais criativxs!</p>
        </div>
    </div>
    </div>
    <footer>
        <div class="footer">
            <div class="footer__logo">
                <img src="images/carimbo-cria-metade.png" alt="" srcset="">
            </div>
            <div class="footer__menu">
                <div class="footer__links">
                    <a href="">websérie</a>
                    <a href="">sobre</a>
                    <a href="">instagram</a>
                </div>
                <p>Uma plataforma sobre a juventude criativa do <br> Distrito Federal</p>
            </div>
            <div class="footer__form">
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form
                        action="https://life.us20.list-manage.com/subscribe/post?u=1442126360da0693286645b81&amp;id=5cae7d4bcb"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h2>Assine nossa newsletter</h2>
                            <div class="form__fields">
                                <div class="mc-field-group">
                                    <input type="email" placeholder="exemplo@email.com" value="" name="EMAIL"
                                        class="required email" id="mce-EMAIL">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                        name="b_1442126360da0693286645b81_5cae7d4bcb" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Enviar" name="Enviar"
                                        id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/app.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>

</html>