<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <script src="https://kit.fontawesome.com/1c815cfb24.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
    <!--  <link rel="stylesheet" href="style.css"> -->
    <title>CRIA - Plataforma Criativa da Juventude do Distrito Federal</title>
</head>

<body>
    <nav class="nav-bar">
        <p></p>
        <div class="nav-bar-central">
            <a href="">websérie</a>
            <a href=""><img class="nav-logo" src="images/logo-beta.png" alt=""></a>
            <a href="">sobre</a>
        </div>
        <button>Faça parte</button>
    </nav>
    <div id="app" class="content-container">
        <div class="search-bar">
            <label>
                <input type="text" v-model='searchString' v-model='search2String'
                    placeholder="Busque criativxs de todo o Distrito Federal">
            </label>
            <div class="seach-select">
                <select v-model="select">
                    <option value="">Escolha uma cidade</option>
                    <option v-for="(cidade, index) in cidades" :key="index" :value="cidade">{{cidade}}</option>
                </select>
                <select v-model="select2">
                    <option value="">Escolha uma área criativa</option>
                    <option v-for="(area, index) in areas" :key="index" :value="area">{{area}}</option>
                </select>
            </div>
        </div>

        <div class="content-cards grid">
            <div v-for='item in filteredList' :key='item.id' class="content-card">
                <img :src="item.image" alt="item.name" v-show="item.image.length"></img>
                <img src="images/template-image.png" v-show="!item.image.length"></img>
                <div class="card-info">
                    <h3 class="card-title"> {{item.name}} </h3>
                    <div class="card-info-job">
                        <p class="card-text"> <i class="fas fa-briefcase"></i> {{item.job}} </p>
                        <p class="card-text"> <i class="fas fa-map-pin"></i> {{item.city}} </p>
                    </div>
                    <p class="card-text card-bio" id="clamp-text"> {{item.description}}
                        <hr>
                        <div class="card-contato">
                            <div class="contato-icon">
                                <a :href="item.portfolio" class="card-text" v-show="item.portfolio.length"> <i
                                        class="fas fa-link"></i></i> </a>
                                <a :href=" 'https://www.facebook.com/' + item.facebook" class="card-text" v-show="item.facebook.length"> <i
                                        class="fab fa-facebook"></i></a>
                                <a :href=" 'https://www.twitter.com/' + item.twitter" class="card-text" v-show="item.twitter.length"> <i
                                        class="fab fa-twitter"></i></i></a>
                                <a :href=" 'https://www.instagram.com/' + item.instagram" class="card-text" v-show="item.instagram.length"> <i
                                        class="fab fa-instagram"></i></a>
                            </div>
                            <button><a :href=" 'mailto:' + item.email"><i class="fas fa-envelope"></i></a></button>
                        </div>

                </div>
            </div>
            <p class="texto-erro" v-show="!filteredList.length">Poxa :( Nenhum resultado encontrado! <br> Divulgue a platarforma para seus amigos e vamos encontrar mais criativxs!</p>

        </div>
    </div>
    </div>
    <script src="js/clamp.min.js"></script>
  
    <script src="app.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>

</html>