<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

  
           
  
      <!--  <link rel="stylesheet" href="style.css"> -->
    <title>Document</title>
</head>
<body>
    <div id="app">
        <label>
            Search name: <input type="text" v-model='searchString' v-model='search2String' >
        </label> <br>
        <select v-model="select">
            <option v-for="(cidade, index) in cidades" :key="index" :value="cidade">{{cidade}}</option>
            <option value="">Todos</option>
          </select> <br>
        <div tag='ul' name='my-list'>
            <div v-for='item in filteredList' :key='item.id' class="my-list-item" class="card" style="width: 18rem;">
                <h5 class="card-title"> {{item.name}} </h5> 
               <p class="card-text"> {{item.description}} </p> 
               <a :href="item.link" class="btn btn-primary">TESTE</a>

            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>
 